<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TraceUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <TraceUI.Properties.Settings>
            <setting name="HoverHighlight" serializeAs="String">
                <value>BurlyWood</value>
            </setting>
            <setting name="SymbolHoverHighlight" serializeAs="String">
                <value>SaddleBrown</value>
            </setting>
            <setting name="TheoremFont" serializeAs="String">
                <value>Garamond, 12.75pt, style=Bold</value>
            </setting>
            <setting name="ProofFont" serializeAs="String">
                <value>Garamond, 12pt, style=Italic</value>
            </setting>
            <setting name="StepFont" serializeAs="String">
                <value>Garamond, 12pt, style=Bold</value>
            </setting>
            <setting name="LabelFont" serializeAs="String">
                <value>Garamond, 11.25pt, style=Bold</value>
            </setting>
            <setting name="LinkHoverHighlight" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="VarWithAx" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="VarThisAx" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="VarNoAx" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="BoundVar" serializeAs="String">
                <value>20, 67, 21</value>
            </setting>
            <setting name="AIPath" serializeAs="String">
                <value>F:\TraceAI</value>
            </setting>
        </TraceUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
